.idea
idea

.DS_Store


*.egg-info/
.installed.cfg
*.egg

dist
*.sqlite3

.vscode/

*.pyc
*.pyo
__pycache__/
*/__pycache__/


venv
Scripts
Lib
!*media/.gitkeep
media/*

.env

log/debug.log

pyvenv.cfg

Makefile

make.bat

hpme.rst

doc

build
